html{background:url('../img/bg.png');position:relative;height:100%;}

body{
    background:url('../img/paper_l.png') repeat-y left;
    color:#333;
    padding:1em;
    margin:4em auto 0;
    max-width:1024px;
    height:100%;
    min-height:100%;
}

article{
    background:url('../img/paper_r.png') repeat-y right;
}

html > body {height:auto;}
a:link,a:visited{color:#5a0;}
a:hover{color:#a35;}

::selection {
    background: #ac0; /*背景色*/
    color: #fff; /*文字色*/
}
::-moz-selection {
    background: #ac0; /*背景色*/
    color: #fff; /*文字色*/
}


h1{
    position:absolute;
    top:0;
    padding:0.5em;
    margin:0 0 1em 0;
    display:block;
}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
p{text-indent:1em;}

ul{margin:0.75em 0;}

.imp{color:#d00; font-weight:bold;}

div#top{margin:0 auto;display:-webkit-box;display:-moz-box;}

ul#menu{margin:0;padding:3em 0;display:block;margin:0;text-align:center;width:100%}
ul#menu li{border:1px solid #ccc;padding:0;overflow:hidden;text-align:center;list-style-type:none;width:8em;margin:0.3em 0.3em;display:inline-block;height:8em;}
ul#menu li a{vertical-align:middle;text-shadow: 0 1px 0 rgba(0,0,0,.100);background-image: linear-gradient(to top, #eee, #fefefe);text-decoration:none;border:1px solid #fff;padding:0;width:8em;height:3em;height:8em;display:table-cell}
ul#menu li a:link,ul#menu li a:visited{color:#555;}
ul#menu li a:hover{color:aa3300;background-image: linear-gradient(to top, #fed, #feb);}


/*dlのテーブル化*/
dl{margin:0 auto;width:70%;}
dt{background-image:linear-gradient(to top, #eee, #fefefe)}
dt,dd{border-color:#ccc;border-width:1px;border-style:solid;padding:0.5em;}
dd{margin:0 0 1.5em 0;border-top:0;background-color:#fff;}


/*縦テーブル*/
dl.vtable{

}

/*横テープル*/
dl.htable{

}

table{border-collapse:collapse;border:1px #fff solid;width:70%;margin:0 auto;}
th{background-image: linear-gradient(to top, #efffff, #dfefff);height:3em;width:10%;}
td,th{border:1px #aaa solid;padding:0.3em;vertical-align:middle;}

blockquote{border-style:solid;border-color:#ccc;border-left:0;border-right:0;padding:0 0 0.1em 1em;margin:0 0 0 1em}
cite{font-size:92%;margin-bottom:1em;display:block;}

div.rsn{margin:0.2em 0;padding-left:0.4em;color:#a30;border-left:solid #a30 0.5em;}

pre{border:#aaa dotted 2px;padding:1em;overflow:auto;white-space:pre-wrap;word-wrap: break-word;}

ol#topicpath{margin: 0;padding: 0;list-style: none;position:absolute;top:0;left:0;background: #333;border-width:0 0 1px 0;border-style: solid;border-color: #f5f5f5 #e5e5e5 #ccc;box-shadow: 0 0 2px rgba(0,0,0,.2);overflow: hidden;width: 100%;}
ol#topicpath li{float: left;}
ol#topicpath a{padding: .7em 1em .7em 2em;float: left;text-decoration: none;color: #5df;position: relative;text-shadow: 0 1px 0 rgba(0,0,0,.5);background-color: #666;background-image: linear-gradient(to right, #333, #666);}
ol#topicpath li:first-child a{padding-left: 1em;}
ol#topicpath a:hover{background: #eee;color:#a30;}
ol#topicpath a::after,
ol#topicpath a::before{content:"";position:absolute;top:50%;margin-top:-1.5em;border-top: 1.5em solid transparent;border-bottom: 1.5em solid transparent;border-left: 1em solid;right:-1em;}
ol#topicpath a::after{z-index: 2;border-left-color: #666;}
ol#topicpath a::before{border-left-color: #ccc;right: -1.1em;z-index: 1;}
ol#topicpath a:hover::after{border-left-color: #eee;}
ol#topicpath .current{padding: .7em 1em .7em 2em;float: left;background: none;color:#fff;}
