.obj{
background:#eee;
border:1px solid #aaa;
margin:0.5em 0;
padding:0 1em 1em;
}
.met{
    background:#fafafa;
border:1px solid #aaa;
margin:0.5em;
padding:0 1em 1em;
}
.label{
text-align:center;
display:block;
margin:1em auto 0.5em;
}

.db{
    margin:0 auto 1em ;
    border-collapse:collapse;
    border-top:1px solid #000
}

.db tr{
    border-bottom:1px solid #000;
    border-left:1px solid #000;
}

.db th, .db td{
    border-right:1px solid #000;
    padding:0.5em;
}