#dialpad, #calclator{
    display:table;
    width:243px;
    text-align: center;
    border-style:solid;
    border-color:#eee;
    border-top-width:1px;
    border-left-width:1px;
    border-right-width:0;
    border-bottom-width:0;
}

.key{
    height:80px;
    width:80px;
    display:table-cell;
    vertical-align:middle;
    float:left;
    padding:0;
    margin:0 auto;
    background:#fafafa;
    border-style:solid;
    border-color:#eee;
    border-top-width:0;
    border-left-width:0;
    border-right-width:1px;
    border-bottom-width:1px;
}

.del {
    background:#fdd;
}

.call{
    background:#efc;
}

.op{
    background:#fd0;
}

.displayD{
    width:242px;
    background:#fff;
}

.displayC{
    width:323px;
    background:#fff;
}